.card {
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(2, 52, 8, 0.148);
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
  }